body {
  background-color: grey;
}
.mainText {
  margin-top: 0px;
  height: 7vh;
  text-align: center;   
  background-color: rgb(255, 75, 75);
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.secondText {
  margin-top: 0px;
  height: 5vh;
  text-align: center;   
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  position: relative;
  margin-top: 0px;
  color: black;
  background: rgba(255, 255, 255, .5);
  text-align: center;
  font-size: 50px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: 15px;
}
h3 {
  position: relative;
  bottom: 10px;
  margin-top: 0px;
  font-size: 25px;
}

.nextButton {
  background-color: LightBlue;
  border-color: Gray;
  border: 2px solid;
  color: Black;
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
  position: relative;
  width: 48%;
  bottom: -.5vh;
  outline: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.buttonClass {
  background-color: LightBlue;
  border-color: Gray;
  border: 2px solid;
  color: Black;
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
  position: relative;
  width: 48%;
  bottom: 40px;
  outline: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mainDiv {
  background-image: url('Farmer.jpg');
  background-size: contain;
  width: 29%;
  height: 20vh;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
  margin-left: 2.25%;
}
.mainDiv2 {
  background-color: red;
  background-image: url('warrior.png');
  background-size: contain;
  width: 29%;
  height: 20vh;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
  margin-left: 2.25%;
}
.mainDiv3 {
  background-image: url('doctor.jpg');
  background-size: contain;
  width: 29%;
  height: 20vh;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
  margin-left: 2.25%;
}
.titleDiv {
  width: 100%;
  height: 25vh;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 85, 85);
  margin-bottom: 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.eventDiv {
  width: 100%;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 85, 85);
  margin-bottom: 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.statsDiv {
  width: 100%;
  height: 28vh;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 85, 85);
  margin-bottom: 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

#yearStatsDiv {
  width: 98%;
  height: 60vh;
  display: none;
  border-radius: 20px;
  position: absolute;
  top: 20vh;
  border-color: coral;
  border-style: solid;
  background-color: pink;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  float:left;
  z-index: 9;
}

.xButton {
  background-color: red;
  border-color: Gray;
  border: 2px solid;
  color: Black;
  text-align: center;
  font-size: 50px;
  position: absolute;
  right:0px;
  top: 0px;
  border-radius: 20px;
  z-index: 9;
  margin-left: 0px;
  margin-top: 0px;
  width: 12%;
  outline: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lostDiv {
  width: 100%;
  height: 97vh;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  background-color: pink;
  margin-bottom: 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.lostText {
  margin-top: 0px;
  height: 8vh;
  position: relative;
  top: 0px;
  text-align: center;
  background-color: lightpink;
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.restartButton {
  background-color: LightBlue;
  border-color: Gray;
  border: 2px solid;
  color: Black;
  text-align: center;
  font-size: 40px;
  border-radius: 20px;
  position: relative;
  width: 48%;
  top: 60vh;
  outline: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
