body {
  background-color: grey;
}
h1 {
  margin-top: 0px;
  height: 50px;
  text-align: center;   
  background-color: lightpink;
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h2 {
  background-color: lightpink;
  margin-top: 0px;
  color: Black;
  text-align: center;
  font-size: 50px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button {
  background-color: LightBlue;
  border-color: Gray;
  border: 2px solid;
  color: Black;
  text-align: center;
  font-size: 50px;
  border-radius: 20px;
  width: 48%;
  outline: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mainDiv {
  background-color: pink;
  width: 29%;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
  margin-left: 2.25%;
}
.titleDiv {
  width: 100%;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  background-color: pink;
  margin-bottom: 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

.eventDiv {
  width: 100%;
  border-color: coral;
  border-style: solid;
  text-align: center;
  border-radius: 20px;
  background-color: pink;
  margin-bottom: 5px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}

#yearStatsDiv {
  width: 95%;
  display: none;
  border-radius: 20px;
  border-color: coral;
  border-style: solid;
  background-color: pink;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  float:left;
  position: absolute;
  top: 59px;
  z-index: 9;
}

.xButton {
  background-color: red;
  border-color: Gray;
  border: 2px solid;
  color: Black;
  text-align: center;
  font-size: 50px;
  position: absolute;
  right:0px;
  top: 0px;
  border-radius: 20px;
  z-index: 9;
  margin-left: 0px;
  margin-top: 0px;
  width: 12%;
  outline: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
